@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouse-list {
  @include tablet {
    margin: auto;
    max-width: 45rem;
  }

  @include desktop {
    margin: auto;
    max-width: 70rem;
  }
}
