@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouse-list {
  @include tablet {
    margin: auto;
    // margin-top: -5rem;
    max-width: 45rem;
  }

  @include desktop {
    margin: auto;
    // margin-top: -5rem;
    max-width: 70rem;
  }
}
