@use "./typography" as *;
@use "./variables" as *;
@use "./mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Titillium Web";
  font-weight: 400;
  font-size: 16px;
}

// changes the style of div.app
.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
