$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-black: #13182c;
$primary-indigo: #2e66e5;
$primary-white: white;
$secondary-slate: #5c667e;
$secondary-cloud: #bdc5d5;
$background-graphite: #232940;
$background-lightgrey: #f7f8f9;
$supporting-green: #158463;
$supporting-red: #c94515;
