@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.wh-list {
  &__subheaders {
    display: none;
    @include tablet {
      padding: 1rem 1.5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #f7f8f9b2;
    }

    @include desktop {
      padding: 1rem 2rem;
    }
  }

  &__header-item {
    display: none;

    @include tablet {
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
      justify-content: center;
    }
  }

  &__subheader {
    @include table-header;
    color: $secondary-slate;
    text-transform: uppercase;
    padding-bottom: 0.25rem;

    &--mobile {
      @include table-header;
      color: $secondary-slate;
      text-transform: uppercase;
      padding-bottom: 0.25rem;

      @include tablet {
        display: none;
      }
    }
  }

  &__row {
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: solid 1px $secondary-cloud;

    @include tablet {
      padding: 1rem 1.5rem;
      flex-direction: row;
      justify-content: space-between;
    }

    @include desktop {
      padding: 1rem 2rem;

      &:hover {
        background-color: rgb(46, 102, 229, 0.1);
      }
    }
  }

  &__item-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      width: 40%;
      align-items: center;
      padding-bottom: 0rem;
    }

    @include desktop {
      width: 34.5%;
    }
  }

  &__item-grp {
    padding-bottom: 1rem;

    @include tablet {
      padding-bottom: 0rem;
    }
  }

  &__item-name {
    @include labels-links-buttons;
    color: $primary-indigo;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__item-link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }

  &__desc {
    @include body-medium;
    color: $primary-black;
  }

  &__item-status-qty {
    display: flex;
    flex-direction: column;
    width: 40%;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      width: 32%;
      align-items: center;
    }

    @include desktop {
      width: 29%;
    }
  }

  &__stock {
    @include table-header;
    text-transform: uppercase;
    height: 1.5rem;
    padding: 0.5rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: max-content;
    margin-bottom: 1rem;
  }

  &__ctgy {
    @include tablet {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 5rem;
    }

    @include desktop {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 5rem;
    }
  }

  &__qty {
    @include tablet {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 4.5rem;
    }

    @include desktop {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 4.3rem;
    }
  }
  &__item-icons {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;

    @include tablet {
      flex-basis: unset;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  &__item-edit {
    cursor: pointer;
  }

  &__item-delete {
    cursor: pointer;
    @include desktop {
    }
  }
}

.wh-in-stock {
  color: #158463;
  background-color: rgb(21, 132, 99, 0.07);

  @include tablet {
    margin-bottom: 0rem;
  }
}

.wh-out-of-stock {
  color: #c94515;
  background-color: rgb(201, 69, 21, 0.07);

  @include tablet {
    margin-bottom: 0rem;
  }
}
