@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.foot { 
  padding: 1rem; 
  text-align: center; 

  &__txt {
    color: $secondary-slate; 
    margin: 0; 
    font-size: 0.6875rem;
    font-weight: 400; 

    @include tablet {
      font-size: .75rem; 
    }
  }
}
